<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Exercise 2</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Exercise 2</h1>
  <p>Click the button to call the API:</p>

  <button id="callApiButton">Call API</button>

  <p id="resultMessage"></p>

  <script>
    // Debug issue : I can not load an external js file so I have to write the script here...
    document.getElementById("callApiButton").addEventListener("click", () => {
      const travelData = {
        name: "Nicolas",
        countries: [
          { name: "USA", year: 2024 },
          { name: "Belgium", year: 2024 },
          { name: "Austria", year: 2023 }
        ]
      };

      fetch("/api/countries", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify(travelData)
      })
      .then(response => {
        return response.json();
      })
      .then(data => {
        document.getElementById("resultMessage").textContent = data.message;
      })
      .catch(error => {
        console.error(error.message);
      });
    });

  </script>
</body>
</html>
